*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    font-family: 'Inter', sans-serif;
}

a, a:hover, a:visited {
    text-decoration: none;
}

button, a {
    cursor: pointer;
}

:root {
    --color-white: #ffffff;
}

.clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
}

.contactWrapper {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto auto;
    justify-content: center;
    align-items: center;
    grid-column-gap: 10px;
}

.contactMainInformation {
    display: grid;
    grid-row-gap: 5px;
}

.contactName {
    font-weight: 700;
    font-size: 18px;
    -webkit-line-clamp: 2;
}

.contactCompany {
    font-style: italic;
    font-size: 14px;
}

.contactAge {
    justify-self: center;
}

.contactGender {
    justify-self: center;
}

.contactButton {
    background-color: var(--color-white);
    border: none;
}
